<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form action="" class="form-group">
        <div class="form-group">
          <label for="">First Name</label>
          <input type="text" class="form-control" appAutoGrow/>
        </div>
        <div class="form-group">
          <input type="button" value="Submit" [class.active]="isActive" class="btn btn-primary">
          &nbsp;
          <input type="button" value="Submit" class="btn btn-primary" [style.backgroudColor]="isActive ? 'green' : 'red'">
        </div>
        <app-isfavorite *ngFor="let post of posts" [is-id]="post.id" [is-favorite]="post.isFavorite" (favorite-chnage)="onFavoriteChange($event)"></app-isfavorite>

        <app-votter *ngFor="let post of posts" [is-votes]="post.votes" [is-favorite]="post.isFavorite" [is-id]="post.id" (change-event)="onlikeChange($event)"></app-votter>
      </form>
    </div>

  </div>
</div>
